.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.listOfUsers{
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid rgb(61, 60, 60);
    background-color:#131C23
}
.chatArea{
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    background-image: url('1288076.jpg')
}
.chatHeader{
    position: fixed;
    display: flex;
    width: 70%;
    height: 40px;
    background: #2A2F32;
    /* text-align: start; */
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 8px;

}
.chatControls{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 70%;
    height: 40px;
    bottom: 0;
    background-color: #2A2F32;
    align-items: center;
}
.chatControls input{
    border-radius: 20px;
    height: 25px;
    width: 80%;
    border-style: none;
    background-color: #43474b;
    caret-color: white;
    padding-left: 10px;
}
.chatControls input:focus{
    outline: none;
}
.chatControls button{
    width: 10%;
}

.displayName{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.displayName:focus{
    background-color: #43474b;
}

.displayName.active{
    background: #ccc;
}

.displayName .displayPic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
}

.displayName .displayPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageStyle{
    background: #103631;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    color: white;
}
.messageStyle1{
    background: #43474b;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    color: white;
}

.messageSections{
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 40px;
}

.onlineStatus {
    display : inline-block;
    width : 10px;
    height : 10px;
    background: #16e316;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #16e316;
}

.onlineStatus.off{
    background : green;
    box-shadow : 0 0 0 0 ;
}


.searchinput:focus {
    outline: none;
}